$font-url: 'https://fonts.googleapis.com/css?family=Fira+Mono|Noto+Sans+JP&display=swap&subset=japanese';
$font-family: 'Noto Sans JP','Fira Mono',monospace;

@import url($font-url);

body {
  font-family: $font-family;
}

#message_area > p {
  font-size: small;
  margin: 0;
  padding: 0.4ex 1ex;

  &.info {
    background-color: #ccf;
    color: darkblue;
  }
  &.error {
    background-color: #fcc;
    color: red;
  }
}

.main {
  input.error, select.error, textarea.error {
    background-color: yellow;
  }
}
