{% extends "base.html" %}
{% block title %}アカウント{% if is_new %}新規登録{% else %}編集{% endif %}{% endblock %}
{% block header %}
<section class="edit account">
  <form target="/admin/post-account" method="POST">
    <input type="hidden" name="new" value="{% if is_new %}1{% else %}0{% endif %}">
    <table>
      <tr>
        <th>ユーザー ID</th>
        <td>
          {% if is_new %}
          <input type="text" name="id" value="" maxlength="50" class="user_id">
          {% else %}
          <input type="hidden" name="id" value="{{ target_user['user_id'] }}">
          {{ target_user["user_id"] }}
        </td>
      </tr>
      <tr>
        <th>表示名</th>
        <td>
          <input type="text" name="dn" value="{% if not is_new %}{{ target_user['display_name'] }}{% endif %}"
                 maxlength="100" class="display_name">
        </td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td>
          {% if is_new %}
          新規登録時はパスワードを自動生成します (登録完了時に表示します)。
          {% else %}
          <label for="password_reset_no">
            <input type="radio" name="pwr" value="0" checked="checked" id="password_reset_no">
            変更しない
          </label>
          <label for="password_reset_yes">
            <input type="radio" name="pwr" value="1" id="password_reset_yes">
            リセットする (自動生成)
          </label>
        </td>
      </tr>
    </table>
  </form>
</section>
{% endblock %}
{% block main %}

{% endblock %}
