[loggers]
key = access, error, debug

[handlers]
key = acc_cons, acc_file, err_cons, err_file, dbg_cons, dbg_file

[formatters]
key = console, file

[logger_access]
level = INFO
handlers = acc_cons, acc_file

[logger_error]
level = WARNING
handlers = err_cons, err_file

[logger_debug]
level = DEBUG
handlers = dbg_cons, dbg_file

[handler_acc_cons]
class = StreamHandler
level = NOTSET
formatter = console

[handler_acc_file]
class = handlers.RotatingFileHandler
level = NOTSET
formatter = file
args = ('/var/tmpbox/log/access.log',)
kwargs = {'maxBytes': 5242880, 'backupCount': 10}

[handler_err_cons]
class = StreamHandler
level = NOTSET
formatter = console

[handler_err_file]
class = handlers.RotatingFileHandler
level = NOTSET
formatter = file
args = ('/var/tmpbox/log/error.log',)
kwargs = {'maxBytes': 5242880, 'backupCount': 10}

[handler_dbg_cons]
class = StreamHandler
level = NOTSET
formatter = console

[handler_dbg_file]
class = handlers.RotatingFileHandler
level = NOTSET
formatter = file
args = ('/var/tmpbox/log/debug.log',)
kwargs = {'maxBytes': 5242880, 'backupCount': 10}

[formatter_console]
format = [%%(levelname)s] %%(name)s: %%(message)s

[formatter_file]
format = %%(asctime)s [%%(levelname)s] %%(name)s: %%(message)s
datefmt = %%Y-%%m-%%d %%H:%%M:%%S
