[User]
User = tmpbox
Group = tmpbox

[DB]
ConnectionString = mysql://tmpbox_master:password@localhost/tmpbox

[UploadFiles]
DirectoryRoot = /var/tmpbox
DefaultExpiresDays = 14

[Security]
AutoPasswordLength = 12
MaxFormLength = 10000
